<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="../bootstrap_5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../fontawesome-free-6.5.2-web/css/all.min.css">
</head>
<body>
	<div class="container ">
		<form action="get" class="text-center form-control ">
			<h1>Create Account</h1>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-user"></i></span> <input type="text" name="usename"
					class="form-control" placeholder="Username" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>

			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="password"
					name="password" class="form-control" placeholder="Password"
					aria-label="Username" aria-describedby="addon-wrapping">
			</div>
			<div class="input-group flex-nowrap pb-3">
				<span class="input-group-text" id="addon-wrapping"><i
					class="fa-solid fa-lock"></i></span> <input type="date" name="email"
					class="form-control" placeholder="Email" aria-label="Username"
					aria-describedby="addon-wrapping">
			</div>
			<button class="btn btn-secondary form-control pb-3 mb-5"
				type="submit">Đăng Ký</button>

		</form>
	</div>
</body>
</html>